.footer{
    margin-bottom: 1rem;
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color:#464646;
    text-align: center;   
}

@media (max-width: 768px) {
    .footer {
        padding: 1.5rem 1rem;
    }

    .footer__text {
        font-size: 0.9rem;
    }
}

@media (max-width: 425px) {
    .footer {
        padding: 1rem;
    }

    .footer__text {
        font-size: 0.8rem;
    }
}