*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.profile{
    display: flex;
    justify-content: space-evenly;
    box-sizing: content-box;
    height: 450px;
    padding-left: 200px;
    background-color: #F5F5F5;
}
.profile-1{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
}
.profile-1 h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    color: #464646;
    padding-top: 60px;
}
.profile-1 p{
    padding-top: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #464646;
}
.network{
    padding-top: 20px;
}
.network a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #464646;
}
.network img{
    position: relative;
    top: 4px;
}
.profile-container{
    position: relative;
    right: 150px;
    top: 30px;
    width: 370px;
    height: 370px;
    box-sizing: border-box;
}
.profile-container img{
    box-sizing: border-box;
    width: 368px;
    height: 368px;
    border-radius: 200px;
}

@media (max-width: 1440px){ 
    .profile {
        padding-left: 100px;
    }
    
    .profile-container {
        right: 50px;
    }
}

@media (max-width: 768px) {
    .profile {
        height: 550px;
        padding-left: 50px;
    }
    
    .profile-1 h1 {
        font-size: 42px;
    }
    
    .profile-1 p {
        font-size: 20px;
    }
    
    .profile-container {
        right: 20px;
        top: 90px;
    }
    
    .profile-container img {
        width: 268px;
        height: 268px;
    }
}

@media (max-width: 425px) {
    .profile {
        flex-direction: column;
        height: 780px;
        padding-left: 30px;
        padding-right: 20px;
    }
    
    .profile-1 {
        padding-top: 200px;
    }
    
    .profile-container {
        position: absolute;
        left: 70px;
        top: 70px;
        width: 270px;
        height: 270px;
    }
    
    .profile-container img {
        width: 268px;
        height: 268px;
    }
}





 

